@media screen and (max-width: 700px) {        

    *{
        font-size: 10px;
        width: 100%;
        max-width: 100%;
    }

    nav{
        height: 50px;
        gap: 10px;
    }

    nav .logo img{
        width: 5rem;
        margin-left: 30px;
    }

    #titulo{
        font-size: 30px;
    }

    /*parte 2 do fundo*/
    .fundo1{
        height: 70vh;
    }

    section img{
        width: 15rem;
        height: 15rem;   
    }

    .whats a{
        width: 15px;
        height: 40px;
        font-size: 20px;
    }

    .whats{
        width: 150px;
        height: 60px;
    }


    /*a parte das fotos*/

    .tudo1 , .tudo2{
        gap: 20px;

    }


    .tudo1 img , .tudo2 img {
        width: 35%;
        height: 50vh;
    }


    .textP{
        gap: 2px;
        width: 40%;
        height: 40px;
        font-size: 12px;
    }

    .textP h1{
        color: brown;
        margin-bottom: 10px;
        font-size: 20px;
    }

    /*footer*/
    #footer{
        height: 40vh;
        margin-top: 30px;
        gap: 20px;
    }

    footer img{
        width: 10vh;
        height: 10vh;
    }

    #logoFooter{    
        width: 10vh;
        height: 10vh;
    }

    .footerDiv{
        width: 25%;
    }


    .footerDiv h1{
        border-bottom: 2px solid darkgoldenrod;
        font-size: 15px;

    }

    .footerDiv p {
        font-size: 12px;
        margin: 5px;
    }

    /*creditos*/
    #footerB{
        width: 100%;
        height: 8vh;
        background-color: #fff;
    }

    #footerB p{
        font-size: 12px;
        font-style: italic;
        text-align: center;
        padding: 10px;
    }

}
